html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

*
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

body {
  font-size: 0.815em; }
  @media (min-width: 1024px) {
    body {
      font-size: 1em; } }

h4 {
  font-size: 1em;
  margin: 1.953em 0.642em;
  text-transform: uppercase; }
  @media (min-width: 1024px) {
    h4 {
      font-size: 1.25em; } }

@media (min-width: 768px) {
  #grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-template-areas: "header header" "nav main" "nav main"; } }

header {
  grid-area: header;
  background-color: #e06d06; }

nav {
  grid-area: nav;
  background-color: #4c717a; }

main {
  grid-area: main;
  grid-row-start: 3;
  grid-row-end: -1;
  background-color: #f4f1cf; }
  @media (min-width: 768px) {
    main {
      grid-row-start: 2;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: auto;
      grid-template-areas: "dashboard dashboard" "traffic traffic" "daily-traffic mobile-users" "social-stats social-stats" "members recent-activities" "message-users settings"; } }

.dashboard {
  grid-area: dashboard; }

.traffic {
  grid-area: traffic; }

.daily-traffic {
  grid-area: daily-traffic; }

.mobile-users {
  grid-area: mobile-users; }

.social-stats {
  grid-area: social-stats; }

.members {
  grid-area: members; }

.recent-activities {
  grid-area: recent-activities; }

.message-users {
  grid-area: message-users; }

.settings {
  grid-area: settings; }

.header-container {
  border-bottom: 3px solid #2c4251;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media (min-width: 320px) {
    .header-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between; } }

.header-title {
  font-size: 1.25em;
  margin: 0.512em auto 0.21em; }
  @media (min-width: 320px) {
    .header-title {
      font-size: 1.953em;
      margin: 0 0 0 0.328em; } }

.copy {
  font-size: .441em; }

.header-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 0 auto; }
  @media (min-width: 320px) {
    .header-info {
      margin: 0 12px; } }

.bell-container {
  display: flex;
  flex-direction: row; }

.bell-icon {
  height: 1.953em;
  margin: 0 0.441em;
  transition: all .3s ease; }
  .bell-icon:hover {
    transform: scale(1.3) rotate(-20deg); }
  @media (min-width: 320px) {
    .bell-icon {
      height: 1.953em; } }

#notifications {
  position: relative;
  top: 0px;
  left: -7px;
  border-radius: 50%;
  background-color: #7ddf64;
  height: 0.512em;
  width: 0.512em; }

.drop-ul {
  display: none;
  position: relative;
  top: 35px;
  left: -50px;
  margin: 0; }
  @media (min-width: 320px) {
    .drop-ul {
      top: 50px;
      left: -55px; } }
  @media (min-width: 1024px) {
    .drop-ul {
      top: 55px;
      left: -90px; } }

.drop-li {
  width: 200px;
  border-radius: 3px;
  color: #ebebeb;
  background-color: #2176ae;
  list-style: none;
  margin: .21em 0 .21em -40px;
  padding: .21em;
  border: 2px solid #2c4251;
  box-shadow: -3px 3px 4px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  @media (min-width: 1024px) {
    .drop-li {
      width: 260px; } }

.drop-ul li p {
  margin-top: 0;
  margin-bottom: 0; }

.profile-container {
  display: flex;
  flex-direction: row;
  align-items: center; }

.profile-pic {
  border-radius: .441em;
  border: 2px solid #2c4251;
  height: 1.953em;
  margin: 9px;
  box-shadow: -3px 3px 4px 0px rgba(0, 0, 0, 0.75); }
  @media (min-width: 320px) {
    .profile-pic {
      height: 3.815em; } }

.profile-name {
  text-transform: uppercase; }

.nav-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  @media (min-width: 768px) {
    .nav-container {
      display: flex;
      flex-direction: column;
      justify-content: center; } }

.nav-icon {
  height: 1.25em;
  padding: 0 .512em; }
  .nav-icon:hover {
    border-left: 0.21em solid #7ddf64; }
  @media (min-width: 320px) {
    .nav-icon {
      height: 1.953em; } }

.nav-a {
  height: 1.25em;
  margin: 0.512em; }
  @media (min-width: 320px) {
    .nav-a {
      height: 1.953em; } }
  @media (min-width: 768px) {
    .nav-a {
      margin: 1.563em auto; } }

.dash-title-search-container {
  background-color: #525254;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.dash-title {
  text-align: center;
  border-radius: 0 9px 0 0;
  background-color: #f4f1cf; }

.dash-title h2 {
  font-size: 1em;
  padding: 0 9px; }
  @media (min-width: 768px) {
    .dash-title h2 {
      font-size: 1.563em; } }

.search {
  display: flex;
  justify-content: center; }

.searchbar {
  width: 11.642em;
  border-radius: 5px;
  margin: auto 0.815em; }

.alert-banner {
  display: none;
  width: 93%;
  margin: 13px auto;
  border-radius: 6px;
  border: 2px solid #2c4251;
  background-color: #2176ae;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  @media (min-width: 1024px) {
    .alert-banner {
      width: 75%; } }

.alert-banner p {
  color: #ebebeb;
  margin: .512em 1em; }

@media (min-width: 320px) {
  .traffic-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; } }

.traffic-nav {
  padding: 0;
  margin: 0 9px 9px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }

.traffic-nav-link {
  margin: 3px 9px;
  padding: 3px 6px;
  list-style-type: none; }

.active {
  color: #ebebeb;
  background-color: #fd151b;
  border-radius: 2px;
  margin: 4px; }

.widget-container-traffic {
  margin: 0 auto;
  width: 90vw; }

.widget-container-daily {
  margin: 0 auto;
  width: 80vw; }
  @media (min-width: 768px) {
    .widget-container-daily {
      width: 42vw; } }

.widget-container-mobile {
  margin: 0 auto;
  width: 80vw; }
  @media (min-width: 768px) {
    .widget-container-mobile {
      width: 42vw; } }

@media (min-width: 320px) {
  .social-stats {
    max-width: 325px;
    margin: 0 auto; } }
@media (min-width: 768px) {
  .social-stats {
    max-width: none;
    margin: 2em 0; } }

.social-wrapper {
  display: flex;
  flex-direction: column; }
  @media (min-width: 768px) {
    .social-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-around; } }

.social-container {
  width: 14.552em;
  height: 7.451em;
  border: 2px solid #2c4251;
  background-color: #e0dfd5;
  border-radius: .642em;
  margin: .642em auto;
  box-shadow: -3px 3px 4px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: row;
  align-items: center; }

.social-image {
  height: 5.96em;
  width: 5.96em;
  margin: 0 15px;
  border-radius: 50%;
  background-color: #377771;
  display: flex;
  justify-content: center;
  align-items: center; }

.social-icon {
  height: 3.052em;
  width: 3.052em; }

.social-text {
  margin: 0 auto; }

@media (min-width: 320px) {
  .members {
    max-width: 325px;
    margin: 0 auto; } }
@media (min-width: 768px) {
  .members {
    max-width: none;
    margin: 0 0;
    border-top: 2px solid #2c4251; } }

.members-container {
  margin: .441em .815em;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center; }

.member-image {
  height: 4.768em;
  margin: .815em .815em .815em 0;
  border: 2px solid #2c4251;
  border-radius: .441em;
  box-shadow: -3px 3px 4px 0px rgba(0, 0, 0, 0.75); }

.members-container p {
  margin: 0 auto; }
  @media (min-width: 320px) {
    .members-container p {
      margin-left: auto;
      margin-right: 0; } }

@media (min-width: 768px) {
  .members-date {
    padding-right: .642em; } }

@media (min-width: 320px) {
  .recent-activities {
    max-width: 325px;
    margin: 0 auto; } }
@media (min-width: 768px) {
  .recent-activities {
    max-width: none;
    margin: 0 0;
    border-top: 2px solid #2c4251;
    border-left: 2px solid #2c4251; } }

.recent-activities-container {
  margin: .441em .815em;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center; }

.recent-activities-text p {
  margin: 0 0 6px 0; }

.activities-time {
  font-size: .815em;
  text-transform: uppercase; }

.activities-arrow {
  font-size: 1.25em;
  margin: 0 1em 0 auto; }

@media (min-width: 320px) {
  .message-users {
    max-width: 325px;
    margin: 0 auto; } }
@media (min-width: 768px) {
  .message-users {
    max-width: none;
    margin: 0 0;
    border-top: 2px solid #2c4251; } }

.message-container {
  width: 243px;
  margin: 0 auto;
  display: flex;
  flex-direction: column; }

.message-search {
  width: 18.19em;
  margin: 0 auto .441em;
  border-radius: .328em;
  border: 2px solid #2c4251; }

.form-area {
  height: 7.451em;
  width: 18.19em;
  margin: .441em auto 0;
  border: 2px solid #2c4251;
  border-radius: .328em; }

.message-button {
  width: 18.19em;
  margin: .441em auto 1.563em;
  color: #ebebeb;
  background-color: #176087;
  border-radius: .328em; }

@media (min-width: 320px) {
  .settings {
    max-width: 325px;
    margin: 0 auto; } }
@media (min-width: 768px) {
  .settings {
    max-width: none;
    margin: 0 0;
    border-top: 2px solid #2c4251;
    border-left: 2px solid #2c4251; } }

.email-toggle-container {
  margin: 0 0 0.328em 0;
  display: flex;
  flex-direction: row;
  align-items: center; }

.public-toggle-container {
  margin: 0 0 0 0;
  display: flex;
  flex-direction: row;
  align-items: center; }

.toggle {
  width: 4.768em;
  margin: auto auto; }

.timezone-container {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.timezone-field {
  margin: .441em auto 0;
  width: 200px;
  border-radius: .328em; }

.settings-button-container {
  width: 200px;
  margin: .441em auto 1em;
  display: flex;
  justify-content: space-around; }

.button-primary {
  width: 5.96em;
  margin: 0.441em;
  border-radius: .328em;
  color: #ebebeb;
  background-color: #176087; }

.button-disabled {
  width: 5.96em;
  margin: 0.441em;
  border-radius: .328em;
  color: #ebebeb;
  background-color: #969699; }

.settings-text {
  width: 200px;
  padding-left: 6px;
  font-size: 0.815em;
  text-transform: uppercase; }

/*# sourceMappingURL=styles.css.map */
