html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

*
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

body {
  font-size: 12.8px; }

@media (min-width: 768px) {
  #grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-template-areas: "header header" "nav main" "nav main"; } }

header {
  grid-area: header;
  background-color: green; }

nav {
  grid-area: nav;
  background-color: yellow; }

main {
  grid-area: main;
  grid-row-start: 3;
  grid-row-end: -1;
  background-color: red; }
  @media (min-width: 768px) {
    main {
      grid-row-start: 2;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: auto;
      grid-template-areas: "dashboard dashboard" "traffic traffic" "daily-traffic mobile-users" "social-stats social-stats" "members recent-activities" "message-users settings"; } }

.dashboard {
  grid-area: dashboard; }

.traffic {
  grid-area: traffic; }

.daily-traffic {
  grid-area: daily-traffic; }

.mobile-users {
  grid-area: mobile-users; }

.social-stats {
  grid-area: social-stats; }

.members {
  grid-area: members; }

.recent-activities {
  grid-area: recent-activities; }

.message-users {
  grid-area: message-users; }

.settings {
  grid-area: settings; }

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media (min-width: 320px) {
    .header-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between; } }

.header-title {
  font-size: 20px;
  margin: 3px auto; }
  @media (min-width: 320px) {
    .header-title {
      margin: 3px 0; } }

.header-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 0 auto; }
  @media (min-width: 320px) {
    .header-info {
      margin: 0 12px; } }

.bell-container {
  display: flex;
  flex-direction: row; }

.bell-icon {
  height: 20px;
  margin: 0 3px; }

#notifications {
  position: relative;
  top: -7px;
  left: -9px;
  border-radius: 50%;
  background-color: white;
  height: 6px;
  width: 6px; }

.profile-container {
  display: flex;
  flex-direction: row;
  align-items: center; }

.profile-pic {
  border-radius: 50%;
  height: 39px;
  margin: 9px; }

.profile-name {
  text-transform: uppercase; }

.nav-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  @media (min-width: 768px) {
    .nav-container {
      display: flex;
      flex-direction: column;
      justify-content: center; } }

.nav-icon {
  height: 20px; }

.nav-a {
  height: 20px;
  margin: 9px 0; }
  @media (min-width: 768px) {
    .nav-a {
      margin: 9px auto; } }

.dash-title-search-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.dash-title {
  text-align: center;
  border-radius: 0 9px 0 0;
  background-color: blue; }

.dash-title h2 {
  font-size: 16px;
  padding: 0 9px; }

.search {
  display: flex;
  justify-content: center;
  background-color: #3333ff; }

.searchbar {
  width: 130px;
  border-radius: 5px;
  margin: auto 6px auto 6px; }

.alert-banner {
  display: none;
  width: 97%;
  margin: 13px auto;
  border-radius: 6px;
  background-color: #0000cc;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.alert-banner p {
  margin: 3px 9px; }

@media (min-width: 320px) {
  .traffic-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; } }

.traffic-nav {
  padding: 0;
  margin: 0 auto 9px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }

.traffic-nav-link {
  margin: 3px 9px;
  list-style-type: none; }

.widget-container-traffic {
  margin: 0 auto;
  width: 90vw; }

.widget-container-daily {
  margin: 0 auto;
  width: 80vw; }
  @media (min-width: 768px) {
    .widget-container-daily {
      width: 45vw; } }

.widget-container-mobile {
  margin: 0 auto;
  width: 70vw; }
  @media (min-width: 768px) {
    .widget-container-mobile {
      width: 30vw; } }

.social-wrapper {
  display: flex;
  flex-direction: column; }
  @media (min-width: 768px) {
    .social-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-around; } }

.social-container {
  width: 232px;
  height: 119px;
  display: flex;
  flex-direction: row;
  align-items: center; }

.social-image {
  height: 70px;
  width: 70px;
  margin: 0 15px;
  border-radius: 50%;
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center; }

.social-icon {
  height: 30px;
  width: 30px; }

.social-text {
  margin: 0 auto; }

.members-container {
  margin: 16px 0;
  max-width: 323px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center; }

.member-image {
  height: 61px;
  margin: 0 8px;
  border-radius: 5px; }

.members-container p {
  margin: 0 auto; }
  @media (min-width: 320px) {
    .members-container p {
      margin-left: auto;
      margin-right: 0; } }

.recent-activities-container {
  margin: 16px 0;
  width: 323px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center; }

.recent-activities-text p {
  margin: 0 0 6px 0; }

.message-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column; }

.easy-autocomplete {
  margin: 0 auto; }

.message-search {
  width: 200px;
  margin: 6px auto; }

.form-area {
  height: 100px;
  width: 200px;
  margin: 0 auto; }

.message-button {
  width: 75px;
  margin: 6px auto;
  border-radius: 3px; }

.email-toggle-container {
  margin-bottom: 9px;
  display: flex;
  flex-direction: row;
  align-items: center; }

.public-toggle-container {
  display: flex;
  flex-direction: row;
  align-items: center; }

.toggle {
  width: 75px;
  margin: auto auto; }

.timezone-container {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.timezone-field {
  margin: 10px auto;
  width: 200px; }

.settings-button-container {
  width: 130px;
  margin: 6px auto 16px;
  display: flex;
  justify-content: space-around; }

.button-primary, .button-disabled {
  width: 58.25px; }

.settings-text {
  width: 175px;
  padding-left: 6px;
  font-size: 12px;
  text-transform: uppercase; }

/*# sourceMappingURL=styles.css.map */
