
// Media Query ==============================================

@mixin mq($break) {
  @media (min-width: $break) {
    @content;
  }
}

// Flexbox ===================================================

@mixin flexContainer (
  $disp: flex,
  $dir: null,
  $wrap: wrap,
  $just: null,
  $alignItem: null,
  $alignContent: null,) {
    display: $disp;
    flex-direction: $dir;
    flex-wrap: $wrap;
    justify-content: $just;
    align-items: $alignItem;
    align-content: $alignContent;
    @content;
  }

@mixin flexItem (
  $basis: null,
  $grow: null,
  $shrink: null,
) {
  flex-basis: $basis;
  flex-grow: $grow;
  flex-shrink: $shrink;
  @content;
}
