
$body-font-size-sm    : 12.8px;

// HEADER SECTION ==============================================================

$header-title-font-size     : 20px;
$bell-icon-height           : 20px;
$notification-alarm-size    : 6px;
$profile-pic-height         : 39px;

// NAV SECTION =================================================================

$nav-icon-height      : 20px; // sets height for both nav-icon and nav-a ***

// MAIN SECTION ================================================================

$dash-title-font-size     : 16px;
$searbar-width            : 130px;
$alert-banner-width       : 97%;

// CHART SIZING

$traffic-chart-width        : 90vw;

$daily-chart-width          : 80vw;
$daily-chart-width-sm       : 0;
$daily-chart-width-md       : 45vw;
$daily-chart-width-lg       : 0;

$mobile-chart-width         : 70vw;
$mobile-chart-width-sm      : 0;
$mobile-chart-width-md      : 30vw;
$mobile-chart-width-lg      : 0;

// SOCIAL STATS SIZING =========================================================

$social-container-width     : 232px;
$social-container-height    : 119px;

$social-image-size          : 70px;

$social-icon-size           : 30px;

// MEMBERS/ACTIVITIES SIZING ===================================================

$member-activity-container-width      : 323px; //sets height for both members and activities containers
$member-image-height                  : 61px;

// MESSAGES/SETTINGS SIZING ====================================================

$message-container-width      : 90%;
$message-search-width         : 200px;
$form-area-height             : 100px;
$form-area-width              : 200px;
$message-button-width         : 75px;





$header-background-color      : green;
$nav-background-color         : yellow;
$main-background-color        : red;

// TYPOGRAPHY SCALE 16PX BASE
//
// 1em       : 16px
// 1.25em    : 20px
// 1.563em   : 25px
// 1.953em   : 31.25px
// 2.441em   : 39.06px
// 3.052em   : 48.83px
// 3.815em   : 61.04px
// 4.768em   : 76.29px
// 5.96em    : 95.37px
// 7.451em   : 119.21px
// 9.313em   : 149.01px
// 11.642em  : 186.26px
// 14.552em  : 232.83px
// 18.19em   : 291.04px
// 22.737em  : 363.80px
// 28.422em  : 454.75px
// 35.527em  : 568.43px
// 44.409em  : 710.54px
//

$breakpoint-sm      : 320px;
$breakpoint-md      : 768px;
$breakpoint-lg      : 1024px;

$dashboard-header   : blue;
$dashboard: (
  title: $dashboard-header,
  search: lighten($dashboard-header, 10%),
  alert: darken($dashboard-header, 10%),
);
