
// MAIN LAYOUT STYLE FOR PAGE ==================================================

// MAIN GRID LAYOUT FOR HEADER/NAV/MAIN
#grid-container {


    @include mq($breakpoint-md) {
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto;
      grid-template-areas:
        "header header"
        "nav main"
        "nav main";
    }
}

header {
  grid-area: header;
  background-color: green;
}

nav {
  grid-area: nav;
  background-color: yellow;
}

main {
  grid-area: main;
  grid-row-start: 3;
  grid-row-end: -1;
  background-color: red;
    @include mq($breakpoint-md) {
      grid-row-start: 2;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: auto;
      grid-template-areas:
        "dashboard dashboard"
        "traffic traffic"
        "daily-traffic mobile-users"
        "social-stats social-stats"
        "members recent-activities"
        "message-users settings";
    }
}


.dashboard {
  grid-area: dashboard;
}

.traffic {
  grid-area: traffic;
}

.daily-traffic {
  grid-area: daily-traffic;
}

.mobile-users {
  grid-area: mobile-users;
}

.social-stats {
  grid-area: social-stats;
}

.members {
  grid-area: members;
}

.recent-activities {
  grid-area: recent-activities
}

.message-users {
  grid-area: message-users;
}

.settings {
  grid-area: settings;
}
