
// CONTAINS ALL HEADER ELEMENTS
.header-container {
  @include flexContainer ($dir: column,
                          $just: center,
                          $alignItem: center);
  @include mq($breakpoint-sm) {
    @include flexContainer ($dir: row,
                            $just: space-between)
  }
}

.header-title {
  font-size: $header-title-font-size;
  margin: $header-title__margin;
  @include mq($breakpoint-sm) {
    font-size: $header-title__font-size-sm;
    margin: $header-title__margin-sm;
  }
}

// CONTAINS BELL/PROFILE DIVS
.header-info {
  @include flexContainer ($dir: row,
                          $alignItem: center,
                          $just: flex-end) {
    margin: $header-info__margin;
  }
  @include mq($breakpoint-sm) {
    margin: 0 12px;
  }
}

// BELL/NOTIFICATION CONTAINER
.bell-container {
  @include flexContainer ($dir: row,)
}

    .bell-icon {
      height: $bell-icon-height;
      margin: $bell-icon__margin;
    }

    #notifications {
      position: relative;
      top: -3px;
      left: -5px;
      border-radius: 50%;
      background-color: white;
      height: $notification-alarm-size;
      width: $notification-alarm-size;
    }

// PROFILE PIC/NAME CONTAINER
.profile-container {
  @include flexContainer ($dir: row,
                          $alignItem: center)
}

    .profile-pic {
      border-radius: 50%;
      height: $profile-pic-height;
      margin: 9px;
    }

    .profile-name {
      text-transform: uppercase;
    }
