
// CONTAINS ALL HEADER ELEMENTS
.header-container {
  border-bottom: 3px solid $border-color;
  @include flexContainer ($dir: column,
                          $just: center,
                          $alignItem: center);
  @include mq($breakpoint-sm) {
    @include flexContainer ($dir: row,
                            $just: space-between)
  }
}

.header-title {
  font-size: $header-title-font-size;
  margin: $header-title__margin;
  @include mq($breakpoint-sm) {
    font-size: $header-title__font-size-sm;
    margin: $header-title__margin-sm;
  }
}

.copy {
  font-size: .441em;
}

// CONTAINS BELL/PROFILE DIVS
.header-info {
  @include flexContainer ($dir: row,
                          $alignItem: center,
                          $just: flex-end) {
    margin: $header-info__margin;
  }
  @include mq($breakpoint-sm) {
    margin: 0 12px;
  }
}

// BELL/NOTIFICATION CONTAINER
.bell-container {
  @include flexContainer ($dir: row,)
}

    .bell-icon {
      height: $bell-icon__height--md;
      margin: $bell-icon__margin;
      transition: all .3s ease;
      cursor: pointer;
      &:hover {
        transform: scale(1.3) rotate(-20deg);
      }
      @include mq($breakpoint-sm) {
        height: $bell-icon__height--md;
      }
    }

    #notifications {
      position: relative;
      top: 0px;
      left: -7px;
      border-radius: 50%;
      background-color: $pastel-green;
      height: $notification-alarm-size;
      width: $notification-alarm-size;
    }

    //div container for drop content
    .drop-ul {
      display: none;
      position: relative;
      top: 35px;
      left: -50px;
      margin: 0;
      @include mq($breakpoint-sm) {
        top: 50px;
        left: -55px;
      }
      @include mq ($breakpoint-lg) {
        top: 55px;
        left: -90px;
      }
    }

    .drop-li {
      width: 200px;
      border-radius: 3px;
      color: #ebebeb;
      background-color: $alert-banner__color;
      list-style: none;
      margin: .21em 0 .21em -40px;
      padding: .21em;
      border: 2px solid $border-color;
      box-shadow: -3px 3px 4px 0px rgba(0,0,0,0.75);
      @include flexContainer($dir: row,
                             $just: space-between,);
      @include mq($breakpoint-lg) {
        width: 260px;
      }
    }

    .drop-ul li p {
      margin-top: 0;
      margin-bottom: 0;
    }

    .drop-close {
      cursor: pointer;
    }

// PROFILE PIC/NAME CONTAINER
.profile-container {
  @include flexContainer ($dir: row,
                          $alignItem: center)
}

    .profile-pic {
      border-radius: .441em;
      border: 2px solid $border-color;
      height: $profile-pic-height;
      margin: 9px;
      box-shadow: -3px 3px 4px 0px rgba(0,0,0,0.75);
      @include mq($breakpoint-sm) {
        height: $profile-pic__height-sm;
      }
    }

    .profile-name {
      text-transform: uppercase;
    }
