.dash-title {
  grid-area: dash-title;
  background-color: map-get($dashboard, title);
}

.search {
  grid-area: search;
  margin-left: auto;
  background-color: map-get($dashboard, search);
}

.alert {
  grid-area: alert;
  background-color: map-get($dashboard, alert);
}

.dashboard {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "dash-title search"
    "alert alert";
}

.widget-container-traffic {
  width: 90vw;
}

.widget-container-daily {
  width: 80vw;
  @include mq($breakpoint-md) {
    width: 45vw;
    }
}

.widget-container-mobile {
  width: 65vw;
  @include mq($breakpoint-md) {
    width: 25vw;
    }
}
