
// DASHBOARD AREA LAYOUT AND ELEMENTS/CHARTS ===================================

.dash-title-search-container {
  @include flexContainer($dir: row, $just: space-between)
}

.dash-title {
  text-align: center;
  border-radius: 0 9px 0 0;
  background-color: map-get($dashboard, title);
}

.dash-title h2 {
  font-size: 16px;
  padding: 0 9px;
}

// SEARCHBAR DIV CONTAINER
.search {
  @include flexContainer($just: center);
  background-color: map-get($dashboard, search);
}

.searchbar {
  width: 130px;
  border-radius: 5px;
  margin: auto 6px auto 6px;
}

.alert-banner {
  display: none;
  width: 97%;
  margin: 13px auto;
  border-radius: 6px;
  background-color: map-get($dashboard, alert);
  @include flexContainer($dir: row, $just: space-between);
}

.alert-banner p {
  margin: 3px 9px;
}



// LINE CHART AND NAV ==========================================================

.traffic-header {
    @include flexContainer($dir: row,
                           $just: space-between,
                           $alignItem: center)
}

.traffic-nav {
  margin: 0 13px 0 0;
  @include flexContainer($dir: row,
                         $just: space-between,
                         $wrap: wrap)
}

.traffic-nav-link {
  margin: 3px 16px;
  list-style-type: none;
}

.widget-container-traffic {

  width: 90vw;
}

// DAILY CHART =================================================================
.widget-container-daily {
  margin-top: 50px;
  padding-left: 13px;
  max-width: 90vw;
  @include mq($breakpoint-md) {
    width: 45vw;
    }
}

// MOBILE CHART ================================================================
.widget-container-mobile {

  max-width: 50vw;
  @include mq($breakpoint-md) {
    width: 30vw;
    }
}
