.dash-title {
  grid-area: dash-title;
  background-color: map-get($dashboard, title);
}

.search {
  grid-area: search;
  margin-left: auto;
  background-color: map-get($dashboard, search);
}

.alert {
  grid-area: alert;
  background-color: map-get($dashboard, alert);
}

.dashboard {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "dash-title search"
    "alert alert";
}

.traffic-nav {
  margin-left: -50px;
  @include flexContainer($dir: row, $just: space-around)
}

.traffic-nav-link {
  list-style-type: none;
}

.widget-container-traffic {
  margin: 13px auto;
  width: 90vw;
}

.widget-container-daily {
  margin-top: 50px;
  padding-left: 13px;
  max-width: 90vw;
  @include mq($breakpoint-md) {
    width: 45vw;
    }
}

.widget-container-mobile {
  margin: 0 auto;
  max-width: 50vw;
  @include mq($breakpoint-md) {
    width: 30vw;
    }
}
