
.members-container {
  margin: 16px 0;
  max-width: $member-activity-container-width;
  @include flexContainer($dir: row,
                         $wrap: wrap,
                         $alignItem: center)
}

.member-image {
  height: $member-image-height;
  margin: 0 8px;
  border-radius: 5px;
}

.members-container p {
  margin: 0 auto;
  @include mq ($breakpoint-sm) {
    margin-left: auto;
    margin-right: 0;
  }
}


.recent-activities-container {
  margin: 16px 0;
  width: $member-activity-container-width;
  @include flexContainer($dir: row,
                         $wrap: wrap,
                         $alignItem: center)
}

.recent-activities-text p {
  margin: 0 0 6px 0;
}
