
// ELEMENTS FOR MESSAGES SECTION -----------------------------------------------
.message-container {
  width: $message-container-width;
  margin: 0 auto;
  @include flexContainer($dir: column,)
}

.easy-autocomplete{
  margin: 0 auto;
}

.message-search {
  width: $message-search-width;
  margin: 6px auto;
}

.form-area {
  height: $form-area-height;
  width: $form-area-width;
  margin: 0 auto;
}

.message-button {
  width: 75px;
  margin: 6px auto;
  border-radius: 3px;
}

// ELEMENTS FOR SETTINGS SECTION -----------------------------------------------
.email-toggle-container {
  margin-bottom: 9px;
  @include flexContainer ($dir: row, $alignItem: center)
}

.public-toggle-container {
  @include flexContainer ($dir: row, $alignItem: center)
}

.toggle {
  width: 75px;
  margin: auto auto;
}

.timezone-container {
  @include flexContainer ($dir: column, $just: center)
}

.timezone-field {
  margin: 10px auto;
  width: 200px;
}

.settings-button-container {
  width: 130px;
  margin: 6px auto 16px;
  @include flexContainer ($just: space-around)
}

.button-primary, .button-disabled {
  width: 58.25px;
}

.settings-text {
  width: 175px;
  padding-left: 6px;
  font-size: 12px;
  text-transform: uppercase;
}
