
// ELEMENTS FOR MESSAGES SECTION -----------------------------------------------

.message-users {
  @include mq($breakpoint-sm) {
    max-width: 325px;
    margin: 0 auto;
  }
  @include mq($breakpoint-md) {
    max-width: none;
    margin: 0 0;
    border-top: 2px solid $border-color;
  }
}

.message-container {
  width: $message-container-width;
  margin: 0 auto;
  @include flexContainer($dir: column,)
}

.easy-autocomplete{
  margin: $easy-autocomplete__margin;
}

.message-search {
  width: $message-search-width;
}

.form-area {
  height: $form-area-height;
  width: $form-area-width;
  margin: .441em auto 0;
  border: 2px solid $border-color;
  border-radius: .328em;
}

.message-button {
  width: $message-button-width;
  margin: .441em auto 1.563em;
  color: #ebebeb;
  background-color: $saveBttn-color;
  border-radius: .328em;
}

// ELEMENTS FOR SETTINGS SECTION -----------------------------------------------

.settings {
  @include mq($breakpoint-sm) {
    max-width: 325px;
    margin: 0 auto;
  }
  @include mq($breakpoint-md) {
    max-width: none;
    margin: 0 0;
    border-top: 2px solid $border-color;
    border-left: 2px solid $border-color;
  }
}

.email-toggle-container {
  margin: $email-toggle-container__margin;
  @include flexContainer ($dir: row, $alignItem: center)
}

.public-toggle-container {
  margin: $public-toggle-container__margin;
  @include flexContainer ($dir: row, $alignItem: center)
}

.toggle {
  width: $toggle__width;
  margin: auto auto;
}

.timezone-container {
  @include flexContainer ($dir: column, $just: center)
}

.timezone-field {
  margin: .441em auto 0;
  width: 200px;
  border-radius: .328em;
}

.settings-button-container {
  width: 200px;
  margin: .441em auto 1em;
  @include flexContainer ($just: space-around)
}

.button-primary{
  @include bttn($saveBttn-color);
}

.button-disabled {
  @include bttn($cancelBttn-color);
}

.settings-text {
  width: $settings-text__width;
  padding-left: 6px;
  font-size: $settings-text__font-size;
  text-transform: uppercase;
}
