
.nav-container {
  @include flexContainer($just: space-around,
                         $wrap: wrap);
  @include mq($breakpoint-md) {
    @include flexContainer($dir: column,
                           $just: center,)
  }
}

.nav-icon {
  height: $nav-icon-height;
}

.nav-a {
  height: $nav-icon-height;
  margin: 9px 0;
  @include mq($breakpoint-md) {
    margin: 9px auto;
  }
}
