
.nav-container {
  @include flexContainer($just: space-around,
                         $wrap: wrap);
  @include mq($breakpoint-md) {
    @include flexContainer($dir: column,
                           $just: center,)
  }
}

.nav-icon {
  height: $nav-icon-height;
  @include mq($breakpoint-sm) {
    height: $nav-icon-height__sm;
  }
}

.nav-a {
  height: $nav-icon-height;
  margin: $nav-icon__margin;
  @include mq($breakpoint-sm) {
    height: $nav-icon-height__sm;
  }
  @include mq($breakpoint-md) {
    margin: 1.563em auto;
  }
}
