.social-stats {
    @include mq($breakpoint-sm) {
      max-width: 325px;
      margin: 0 auto;
    }
    @include mq($breakpoint-md) {
      max-width: none;
      margin: 0 0;
    }
}

.social-wrapper {
  @include flexContainer ($dir: column,
                          );
  @include mq ($breakpoint-md) {
    @include flexContainer ($dir: row,
                            $just: space-around)
  }
}

.social-container {
  width: $social-container-width;
  height: $social-container-height;
  border: 2px solid $border-color;
  background-color: $social-container__color;
  border-radius: .642em;
  margin: .642em auto;
  @include flexContainer ($dir: row,
                          $alignItem: center);
}

// DIV THAT CONTAINS .SOCIAL-ICON SVG
.social-image {
  height: $social-image-size;
  width: $social-image-size;
  margin: 0 15px;
  border-radius: 50%;
  background-color: $social-image__color;
  @include flexContainer ($just: center,
                          $alignItem: center);
}

.social-icon {
  height: $social-icon-size;
  width: $social-icon-size;
}

.social-text {
  margin: 0 auto;
}
