
body {
  font-size: $body-font-size-sm;
  @include mq($breakpoint-lg) {
    font-size: $body-font-size-lg;
  }
}

h4 {
  font-size: $h4-font-size;
  margin: $h4-margin;
  text-transform: uppercase;
  @include mq($breakpoint-lg) {
    font-size: $h4-font__size--md;
  }
}
